.preloader::after {
  position: absolute;
  top: 0;
  bottom: 4%;
  right: 0;
  left: 0;

  content: " ";
  display: block;

  margin: auto;
  height: 50px;
  width: 50px;

  box-sizing: border-box;
  border: solid;
  border-width: 4px;
  border-radius: 50%;
  border-top-color: rgba(71, 45, 45, 1);
  border-bottom-color: rgba(219, 199, 199, 1);
  border-right-color: rgba(219, 199, 199, 1);
  border-left-color: rgba(219, 199, 199, 1);

  animation: rotating 0.9s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
